
body {
	font-family:'Open Sans', Arial, sans-serif;
	font-size:14px;
	font-weight:300;
	line-height:1.6em;
	color:#fff;
	background-color:#fff;
	overflow-x:hidden;
}

h1,h2,h3,h4,h5,h6 {
	color:#000000;
	line-height:1.1em;
}



p {
	color:#333333;
	font-size:18px;
}


.coding{
text-align:center;
}

.con{
width:75%;

}



.gallery {
text-align:right;
overflow:hidden;

	
}

.coding .text-center h2 {
	text-transform:uppercase;
	font-weight:550;
	font-size:24px;
	margin-bottom:30px;
	text-align:center;
}



.sub-footer .rightt{
float:right;

font-size:18px;

}





.action {
  overflow: visible;
  padding: 0px;
  width: 100;
  height:350px;
  background: #f2f2f2;
  position: relative;
}

.action .right-image {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background-size: cover;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-image: url(../img/n2.jpg);
}

.action .left-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  padding:0;
  height: 100%;
  background-size: cover;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-image: url(../img/nr1.jpg);
}

.sub-footer  {

	background:#272727;
	padding:30px;
	text-align:center;
	overflow:hidden;
}


img{
display:block;
max-width:100%;
height:auto;}

.gallery .container .proj{
/* padding:15px;
width:30%;
float:left;
height: auto; */
}

.gallery .container .proj img{
  /* display:block; */
  width:300px;
  height:200px;
}

a{
  text-decoration: none;
  align-content: center;
}

.container{
text-align:center;
width:80%;

}


.copyright {
	float:left;
	font-size:18px;
}



